<div class="card">
  <div class="card__header">
    <h2>Add New Questions</h2>
  </div>
  <form method="Post" id="addQuestion" action="/users/add_question">
    <div class="card__body">
      <div class="row">
        <div class="card__body">
          <p>Question</p>
          <div class="form-group">
            <textarea class="form-control" name="question" placeholder="Enter a new quesion here..."></textarea>
            <i class="form-group__bar"></i> </div>
        </div>
        <div class="card__footer">
          <button class="btn btn-default" onclick="$('#page-loader').show();document.getElementById('addQuestion').submit()">Add</button>
          <button type="button" class="btn btn-link" onclick="javascript:location='/users';">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>